@{
    <p>Email Sent Successfully to the Alumni</p>
    <form method="get" asp-controller="MechEmp" asp-action="Index">
        <button type="submit" class="btn btn-primary">Go to Alumni Dashboard </button>
    </form>
}
